/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Raleway&family=Rufina:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";